# ignore all
/*
/.**

# do not ignore
## script
!/bin

## config
!/.config/
!/.config/git/
!/.config/git/ignore
!/.config/karabiner/
!/.config/karabiner/karabiner.json

## zsh
!/.zprofile
!/.zshrc

## vim
!/.vimrc
!/.vim/
!/.vim/bundle/
!/.vim/bundle/rc/
!/.vim/bundle/rc/dein.toml
!/.vim/bundle/rc/dein_lazy.toml

## git
!/.gitconfig
!/.gitignore

